*{
    padding: 0;
    margin: 0;
}
body{
    height: 2000px;
}
#header{
    width: 100%;
    height: 100px;
    background-color: indigo;
}
#logo{
    width: 230px;
    height: 100px;
    background: url('../img/logoTree.jpg');
    background-size: cover;
}