html { font-size:100px; }
*{
    padding: 0;
    margin: 0;
}
 body{
        background: url("../img/word.jpg");
        background-size: cover;
        overflow: hidden;
    }
#logo{
    display: none;
    width: 30%;
    height: 1.5rem;
    border: 1px solid red;
    text-shadow:2px -3px 5px #f5f107;
    margin: 3rem auto;
    font-size: 60%;
    color: white;
    line-height: 1.5rem;
}
#go{
    width: 7%;
    text-align: center;
    height: 1rem;
    margin: -5% auto;
    border-radius: 10%;
    cursor: pointer;
}


