html { font-size:100px; }
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #101F40;
}
#logo{
    display: none;
    width: 80%;
    height: 1rem;
    margin: 0 auto;
    position: absolute;
    font-size: 50%;
    border: 1px solid red;
    line-height: 1rem;
    left: 10%;
    top: 20% ;
    text-shadow:2px -3px 5px #f5f107;
    color: white;
}
#go{
    width: 7%;
    text-align: center;
    height: 1rem;
    margin: 0 auto;
    position: absolute;
    font-size: 50%;
    left: 10%;
    top: 40% ;
    color: white;
    cursor: pointer;
}