html { font-size:100px; }
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #101F40;
    height: 6rem;
}
@font-face{
    font-family: qian;
    src: url('../font/BRUSHSCI.TTF');
}
#logo{
    display: none;
    width: 80%;
    height: 1rem;
    margin: 0 auto;
    position: absolute;
    font-size: 50%;
    border: 1px solid red;
    line-height: 1rem;
    left: 10%;
    top: 30% ;
    text-shadow:2px -3px 5px #f5f107;
    color: white;
    cursor: pointer;
}
#go{
    width: 100%;
    height: 1rem;
    text-align: center;
    margin: 100% auto;
    font-size: 0.2rem;
    font-family:'jdzhonyuanjian1ded35ab2920f98';
    color: white;
    cursor: pointer;
}
#sildeBottom2{
    width: 65px;
    height: 65px;
    background: url('../img/timg.png');
    background-size: contain;
    margin: 1.5rem auto;
}
#tip {
    position: fixed;
    top: 50px;
    left: 50%;
    font-size: 20%;
    display: none;
    z-index: 9999;
    color: red;
}

#myMsg{
    width: 100%;
    height: 1.5rem;
    background: white;
    position: fixed;
    bottom: 0;
    display: none;
    position: relative;
    font-size: 10%;
}
#resume{
    width: 140px;
    height: 100px;
    line-height: 20px;
    position: absolute;
    left: -15%;
    top:10%
}
#headPhoto{
    width: 80px;
    height: 115px;
    background: url('../img/psb.jpg');
    background-size: contain;
    position: absolute;
    right: 20%;
    top: 10%;
    -moz-box-shadow:4px 4px 5px #333333; 
    -webkit-box-shadow:4px 4px 5px #333333; 
    box-shadow:4px 4px 5px #333333;

}
#name{
    font-family: qian;
}
#resume span{
    color: thistle;
    cursor: pointer;
}

#resume span:hover{
    color: rgb(27, 28, 29);
}
